<table>
	<tr>
		<td>Hi <?php echo ucfirst($username);?>,<br></td>		
	</tr>
	<tr>
		<td><br>You have registered FindAccomodation.com</td>		
	</tr>
	<tr>
		<td><br>You need to activate first then you will be able to access FindAccomodation.com</td>		
	</tr>
	<tr>
		<td><br>You need to activate first then you will be able to access FindAccomodation.com</td>		
	</tr>
	<tr>
		<td><br>To activate click bellow link:</td>		
	</tr>
	<tr>
		<td>		
			<a src="<?php echo $activation_link;?>" alt="click to activate"  title="click to activate" ><?php echo $activation_link;?></a>
		</td>		
	</tr>

	<tr>
		<td><br>Your login information:</td>		
	</tr>
	<tr>
		<td>Username : <?php echo $username;?></td>		
	</tr>
	<tr>
		<td>Password : <?php echo $password;?></td>		
	</tr>

	<tr>
		<td><br>You have used this email for communication:</td>		
	</tr>
	<tr>
		<td>Email : <?php echo $email;?></td>		
	</tr>
	
	<tr>
		<td><br><br>From FindAccomodation Team</td>		
	</tr>	
	<tr>
		<td><a src="<?php echo $baseurl;?>" alt="<?php echo $baseurl;?>"  title="<?php echo $baseurl;?>" ><?php echo $baseurl;?></a></td>		
	</tr>	
<table>